.venv/*
.vscode
.idea
.python-version
bin

db.sqlite3
.env
.env.prod
.env.prod.db
docker-compose.prod.yml
Dockerfile.prod
apps/*/migrations/*
entrypoint.prod.sh
staticfiles
mediafiles

media

**/*.pyc

__pycache__/
**/migrations/
apps/*/migrations/

apps/uploads/
postgres_data/
redis_data/
postgresql/
