<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear roles</title>
    <style>
    
    *{
        font-family:"Times New Roman"
    }
    </style>
</head>
<body>
    <div name="Titulo">
        <center>
        <h1>Crear Roles</h1>
        </center>
    </div>
    <div>
        <center>
        <h2 name="">Tipo de Usuario</h2>
        <select name="TipoDeUsuarios" id="" placeholder="Tipo de Usuario">
            <option value="" disabled selected>Tipo de Usuario</option>
            <option value="Administrador">Administrador</option>
            <option value="Moderador">Moderador</option>
            <option value="Usuario">Usuario</option>
        </select>
        <h2 name="">Nombre del usuario</h2>
        <input type="text" name="" id="" placeholder="Nombre del usuario">
        <h2 name="">Correo electronico</h2>
        <input type="text" name="" id="" placeholder="Correo electronico">
        <br>
        <br>
        <button type="submit" style="color: red;">Crear Rol</button>
        </center>
    </div>
</body>
</html>