{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Name Faqs {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/assets/css/custom/custom.css">
{% endblock stylesheets %}
{% block content %}

    <div class="container container-blog-faqs mt-5">
            <div class="row">
                <div class="col-sm">
                    <div class="display-1">Preguntas Frecuentes</div>
                    <br>
                    <br>
                    <h1>¿Cómo puedo acceder a la información de manera rápida en el sitio web?</h1>
                    <div class="lead">
                        Puedes acceder fácilmente a información adicional haciendo clic en el botón "Saber Más" que se encuentra debajo de cada tarjeta de destino. Al hacerlo, se abrirá una ventana emergente con detalles adicionales sobre el destino seleccionado, lo que te permitirá explorar la información de manera rápida y conveniente.
                    </div>
                    <br>
                    <h1>¿Dónde puedo encontrar el menú principal?</h1>
                    <div class="lead">
                        Puedes encontrar el menú principal haciendo clic en "Inicio" en la barra izquierda de la pantalla. Al hacerlo, serás redirigido a la pantalla principal del sitio, desde donde podrás acceder a las distintas secciones y opciones disponibles en la guía de turismo.
                    </div>
                    <br>
                    <h1> ¿Qué países de Sudamérica están incluidos en la guía?</h1>
                    <ul>
                    <div class="lead">
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Colombia</li>
                            <li>Ecuador</li>
                            <li>Bolivia</li>
                            <li>Chile</li>
                            <li>Guayana</li>
                            <li>Peru</li>
                            <li>Surinam</li>
                            <li>Uruguay</li>
                            <li>Venezuela</li>
                    </div>
                     </ul>
                    <br>
                    <h1> ¿Qué información se muestra sobre un país en la sección de "Detalles del País"?</h1>
                    <div class="lead">
                        En la sección de "Detalles del País," encontrarás información relevante sobre el país seleccionado. Esto incluye detalles como la capital del país, su población actual y la moneda oficial utilizada en ese territorio. Esta información te proporcionará una visión general de las características más destacadas del país que estás explorando en la guía de turismo.
                    </div>

                    <br>
                    <h1> ¿El sitio web es accesible desde dispositivos móviles?</h1>
                    <div class="lead">
                        Sí, el sitio web está diseñado para ser accesible desde todos los dispositivos móviles, como smartphones y tablets. Esto significa que puedes acceder a la guía de turismo y planificar tus viajes desde cualquier lugar utilizando tu dispositivo móvil. Por ejemplo, puedes visitar el sitio web y explorar destinos, ver fotos de atracciones, agregar destinos a tus favoritos y acceder a la información que necesitas de manera conveniente desde tu teléfono móvil.
                    </div>

                    <br>
                    <h1> ¿Cómo puedo registrarme en el sitio web?</h1>
                    <div class="lead">
                        Para registrarte en el sitio web, cuando intentes acceder a la pantalla de inicio, verás la opción de iniciar sesión. En esa misma pantalla, también puedes hacer clic en "Crear cuenta". Al seleccionar esta opción, se te guiará a través de un sencillo formulario de registro en el que deberás proporcionar tu dirección de correo electrónico y crear una contraseña. Una vez que completes este proceso, habrás creado tu cuenta en el sitio web y podrás disfrutar de todas las funcionalidades y beneficios que ofrece.
                    </div>

                    <br>
                    <h1> ¿Dónde puedo encontrar los comentarios recientes de otros usuarios?</h1>
                    <div class="lead">
                         Los comentarios recientes de otros usuarios se encuentran disponibles en la pantalla de detalles de los sitios turísticos. Todos los usuarios tienen acceso a estos comentarios en esta sección, lo que te permite leer las opiniones y experiencias compartidas por otros viajeros antes de planificar tu visita a un destino específico.
                    </div>

                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}