{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/custom/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/custom/home.css">
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{{ url_for('oh_sansi_home.index') }}" class="btn btn-sm btn-neutral">Nuevo Grupo</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
          <!-- Scroll select pais -->

                <div class="row">
                    <p class="text-dark">SASS Para la Oh Sansi</p>
                </div>

                <div class="alert alert-danger align-items-center text-center" role="alert">
                    <p class= "text-gray-200"><strong>No hay tiene ningun grupo creado</strong></p>
                        <p><strong>¡Crea un grupo!</strong></p>
                    <a class=" button-add btn btn-icon btn-2 btn-primary" type="button" href="#">
                        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                    </a>
                </div>


          <!-- Card stats -->

        </div>
      </div>
    </div>

    <!-- Page content -->

    <div class="container mt-6">

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}


<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script type="text/javascript" src="/static/assets/vendor/jquery/dist/core.js"></script>
    <script type="text/javascript" src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/vendor/jquery/dist/jquery.slim.min.js"></script>
  <script type="text/javascript" src="/static/assets/vendor/select2/dist/js/select2.full.min.js"></script>
  <script type="text/javascript" src="/static/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/custom/home/list.js"></script>

    <script type="text/javascript">
    var URL_ATRACCIONES= "{{ urlA }}";
   </script>
{% endblock javascripts %}
